<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nicole.testapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HeartAttackInstructions" />
        <activity android:name=".SSPain" />
        <activity android:name=".MoreChestPain" />
        <activity android:name=".DefaultPage" />
        <activity android:name=".UnconsciousInstructionsHA" />
        <activity android:name=".HAInstructions2" />
        <activity android:name=".Fainting" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".BleedingOut" />
        <activity android:name=".MoreFainting" />
        <activity android:name=".FaintingInstructions" />
        <activity android:name=".FaintingInstructions2" />
        <activity android:name=".BleedingOutInstructions" />
        <activity android:name=".BleedingOutInstructions2" />
        <activity android:name=".PreventShock" />
        <activity android:name=".Tourniquet" />
        <activity android:name=".DifficultyBreathing" />
        <activity android:name=".DBInstructions" />
        <activity android:name=".DB2" />
        <activity android:name=".DBInstructions2" />
        <activity android:name=".MildSeizure" />
        <activity android:name=".MoreSeizure" />
        <activity android:name=".MoreStroke" />
        <activity android:name=".SeizureAssistance" />
        <activity android:name=".SeizureInstructions" />
        <activity android:name=".SeizureSteps" />
        <activity android:name=".Stroke" />
        <activity android:name=".StrokeInstructions"></activity>
    </application>

</manifest>